@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    font-family: "Roboto", sans-serif;

    outline: none;
    border: none;
}

:root {
    --primary-color: #7341fc;
    --secondary-color: #5530b8;
    --tertiary-color: #f7df1e;
}

body {
    background-color: var(--primary-color);
}

/* ===================== MENU ASIDE ===================== */

header {
    width: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header .links {
    width: 0px;
    height: 100vh;
    padding-top: 10px;

    position: absolute;
    display: grid;
    grid-template-rows: 50px 50px;

    background-color: #fff;
    box-sizing: border-box;

    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.2s;
}

.links a {
    width: 130px;
    line-height: 20px;
    padding: 15px 0;

    color: var(--secondary-color);
    text-align: center;
    font-size: 18px;

    transition: ease-in-out 0.1s;
}

.links a:hover,
.links a.active_link {
    width: 150px;
    font-size: 20px;
    background-color: var(--tertiary-color);
}

.links.active_button {
    width: 130px;
    opacity: 1;
    visibility: visible;
}

/* ===================== BUTTON ASIDE ===================== */

#toggle {
    width: 50px;
    height: 50px;
    margin: 10px;

    position: relative;

    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

#toggle i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #fff;
}

#toggle.margin {
    margin-left: 160px;
}

/* ===================== CARD ===================== */

.card {
    width: 1000px;
    height: 600px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -500px;

    display: grid;
    grid-template-columns: repeat(2, 500px);

    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
    opacity: 0;

    animation-name: up;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.avatar {
    width: 500px;
    background: url("https://source.unsplash.com/collection/1843495/700*800") no-repeat;
    background-position: center;
    background-size: cover;
}

/* ===================== DETAILS ===================== */

.details {
    width: 500px;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
}

.details .item {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(even) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .item div:nth-child(odd) {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item div span {
    margin-top: 8px;
    margin-right: 4px;
    padding: 8px 16px;
    display: inline-block;
    background-color: var(--tertiary-color);
    border-radius: 16px;
    color: #777;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.7px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.options a {
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
}

.options a:hover {
    border: 2px solid var(--secondary-color);
}

.delete {
    color: #d82323 !important;
    border: 2px solid #d82323 !important;
    background-color: #d8232300 !important;
}

.delete:hover {
    color: #fff !important;
    background-color: #d82323 !important;
}

/* ===================== SCROLLBAR ===================== */

.details::-webkit-scrollbar {
    width: 8px;
}

.details::-webkit-scrollbar-track {
    background: #451fac;
}

.details::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
}

/* .details::-webkit-scrollbar-thumb:hover {
    background: #babd08;
} */

/* ===================== FORM ===================== */

input[type="text"] {
    width: 100%;
}

input[type="date"],
input[type="text"] {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    margin-right: 5px;
}

input::placeholder {
    font-size: 16px;
}

/* ===================== GENERALS CLASSES ===================== */

.button {
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);

    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.button:hover {
    background-color: var(--secondary-color);
}

.button_redirect,
button[type="submit"] {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    display: block;

    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===================== INDEX ===================== */

/* ===================== SEARCH ===================== */

.page_index {
    padding: 20px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 60px 440px 50px;
    box-sizing: border-box;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search a {
    width: 150px;
    height: 40px;
    line-height: 40px;
    align-self: center;
    border-radius: 4px;
}

.search .filter {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 150px 250px;
}

.filter button {
    width: 100%;
    height: 40px;
    line-height: 40px;

    margin-top: 0;
    padding: 0;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    font-weight: normal;
    text-transform: capitalize;
}

.filter input {
    width: 100%;
    margin-left: 5px;
    padding-left: 10px;
    outline: none;
    border-bottom: 1px solid #555;
    box-sizing: border-box;
}

.filter input:focus,
.filter input:hover {
    border-bottom: 1px solid var(--primary-color);
}

/* ===================== TABLE ===================== */

.table {
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse !important;
}

table tr th {
    font-size: 16px;
    text-transform: uppercase;
}

table tr th {
    background-color: #fff;
    border-bottom: 2px solid #555;
}

th,
td {
    padding: 10px 16px;
    text-align: start;
}

table tr td {
    border-bottom: 1px solid #c2c2c2;
}

table tr td .photo_instructor {
    display: grid;
    grid-template-columns: 100px 1fr;
}

table tr td .photo_instructor img {
    width: 70px;
    height: 70px;

    object-fit: cover;
    border-radius: 50px;
    border: 3px solid #fff;
    box-shadow: 2px 2px 3px #afafaf;
}

table tr td .photo_instructor span {
    align-self: center;
    font-size: 16px;
}

table tr td .box {
    width: 500px;
}

table tr td .service {
    margin: 4px 0;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 16px;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    background-color: var(--tertiary-color);
    box-sizing: border-box;
}

.action_button a {
    width: 40px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;

    display: block;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}

/* ===================== MODAL ===================== */

.modalOverride.active_modal {
    opacity: 1;
    visibility: visible;
}

.modalOverride {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    visibility: hidden;
    transition: ease-in 0.1s;
}

.modal {
    width: 600px;
    height: 200px;
    padding: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;

    background-color: #fff;
    box-sizing: border-box;
}

.modal p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.decision {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-items: center;
}

.decision button {
    width: 200px;
    justify-self: center;
    font-size: 14px;
}

.decision button:first-child:hover {
    background-color: #d82323;
}
