@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

    border: none;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #6831ff;
    --secondary-color: #451fac;
    --tertiary-color: #eff30d;
}

/* ===================== MENU ASIDE ===================== */

body {
    background-color: var(--primary-color);
}

header {
    width: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header .links {
    width: 0px;
    height: 100vh;
    padding-top: 10px;

    position: absolute;
    display: grid;
    grid-template-rows: 50px 50px;

    background-color: #fff;
    box-sizing: border-box;

    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.2s;
}

.links a {
    width: 130px;
    line-height: 20px;
    padding: 15px 0;

    color: var(--secondary-color);
    text-align: center;
    font-size: 18px;
    
    transition: ease-in-out 0.1s;
}

.links a:hover,
.links a.active_link {
    width: 150px;
    font-size: 20px;
    background-color: var(--tertiary-color);
}

.links.active_button {
    width: 130px;
    opacity: 1;
    visibility: visible;
}

/* ===================== BUTTON ASIDE ===================== */

#toggle {
    width: 50px;
    height: 50px;
    margin: 10px;

    position: relative;

    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

#toggle i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #fff;
}

#toggle.margin {
    margin-left: 160px;
}

/* ===================== CARD ===================== */

.card {
    width: 1200px;
    height: 700px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -600px;

    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
    opacity: 0;

    animation-name: up;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.avatar {
    width: 600px;
    height: 700px;
    background: url('https://source.unsplash.com/collection/1843495/700*800') no-repeat;
}