{% extends '../layout.njk' %}

{% block content %}
    <div class="card page_index">
        <section class="search">
            <a href="/instructors/create" class="button">Novo instrutor</a>

            <div class="filter">
                <button type="submit" class="button">Pesquisar</button>
                <input type="text" name="filter" placeholder="Instrutor(a)"/>
            </div>
        </section>
        <section class="table">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Serviços</th>
                    <th>Perfil</th>
                </tr>
                {% if instructors %}
                    {% for instructor in instructors %}
                        <tr>
                            <td>
                                <div class="photo_instructor">
                                    <img src="{{ instructor.avatar_url }}" alt="instrutor(a) - {{ instructor.name }}"/>
                                    <span>{{ instructor.name }}</span>
                                </div>
                            </td>
                            <td>
                                {% for services in instructor.services %}
                                    <span>{{ services }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="action_button">
                                    <button>Ver</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% elseif  not instructors %}
                    <tr>
                        <td colspan="3">
                            <span class="not_instructor">Nenhum instrutor(a) encontrado(a)</span>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </section>
        <section class="pagination"></section>
    </div>
{% endblock content %}