{% extends '../layout.njk' %}

{% block head %}
    <title>{{ instructor.name }}</title>
{% endblock head %}

{% block content %}

    <style>
        .avatar {
            background: url("{{ instructor.avatar_url }}") no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>

    <div class="card">
        <section class="avatar"></section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>{{ instructor.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ instructor.birth }}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ 'Masculino' if instructor.gender == 'masc' else 'Feminino' }}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in instructor.services %}
                        <span>{{ service }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ instructor.created_at }}</div>
            </div>

            <div class="options">
                <a href="#" class="button button_redirect">Editar</a>

                <a href="#" class="button button_redirect delete">Deletar</a>
            </div>
        </section>
    </div>
{% endblock content %}