<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block head %}
            <title>Gym Manager</title>
        {% endblock head %}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/x-icon" href="/img/halteres.ico"/>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <header>
            <aside class="links">
                {# <a href="/" class="active_link">Instrutores</a> #}
                <a href="/">Instrutores</a>
                <a href="/members">Membros</a>
            </aside>

            <div id="toggle">
                <i class="material-icons">dehaze</i>
            </div>
        </header>

        {% block content %}{% endblock content %}

        <script src="/script.js"></script>

    </body>
</html>