<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="text" 
            name="avatar_url" 
            placeholder="http://"
            {% if member.avatar_url %}
                value="{{ member.avatar_url }}"
            {% endif %}
        />
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text" 
            name="name" 
            placeholder="Nome do membro"
            {% if member.name %}
                value="{{ member.name }}"
            {% endif %}
        />
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input 
            type="text" 
            name="email" 
            placeholder="membro@exemplo.com"
            {% if member.email %}
                value="{{ member.email }}"
            {% endif %}
        />
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            {% if member.birth %}
                value="{{ member.birth }}"
            {% endif %}
        />
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="masc"
                {% if member.gender == "masc" %}
                    checked
                {% endif %}
            /> Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="fem"
                {% if member.gender == "fem" %}
                    checked
                {% endif %}
            /> Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Tipo sanguíneo</div>
    <div>
        <select name="blood">
            <option value="">Selecione...</option>
            {% for type in member.types %}
                <option 
                    value="{{ type.back }}" 
                    {% if member.blood == type.back %} 
                        selected 
                    {% endif %}
                >{{ type.front }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="item">
    <div>Peso (kg)</div>
    <div>
        <input 
            type="text" 
            name="weight"
            {% if member.weight %}
                value="{{ member.weight }}"
            {% endif %}
        />
    </div>
</div>

<div class="item">
    <div>Altura</div>
    <div>
        <input 
            type="text" 
            name="height"
            {% if member.height %}
                value="{{ member.height }}"
            {% endif %}
        />
    </div>
</div>

{% if member.instructors.length >= 0 %}
    <div class="item">
        <div>Seu instrutor(a)</div>
        <div>
            <select name="my_instructor">
                <option value="">Selecione...</option>
                {% for instructor in member.instructors %}
                    <option 
                        value="{{ instructor.id }}"
                        {% if member.instructor_id == instructor.id %}
                            selected
                        {% endif %}
                    >{{ instructor.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}

<button type="submit" class="button">Salvar dados</button>