{% extends '../layout.njk' %}

{% block content %}

    {% if member.avatar_url %}
        <style>
            .avatar {
                background: url("{{ member.avatar_url }}") no-repeat;
                background-position: center;
                background-size: cover;
            }
        </style>
    {% endif %}
    
    <form class="card" method="POST" action="/members?_method=PUT">
        <section class="avatar"></section>

        <section class="details">
            <h3>Editar instrutor</h3>

            <input 
                type="hidden" 
                name="id" 
                value="{{ member.id }}"
            />

            {% include 'members/fields.njk' %}

        </section>
    </form>
{% endblock content %}